/* 
    Document   : complete
    Created on : Jul 6, 2016, 3:08:19 AM
    Author     : Montasser
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(../fonts/SourceSansPro-Regular.otf);
}
.compl-headline {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    width: 100%;
    display: block ;
    overflow: hidden ;
    border-bottom: 1px solid #dfdfdf ;
    padding-bottom: 10px;
}
.profimge {
    height: 400px;
    width: 400px;
    border: 1px solid #d1d1d1;
    margin: 10px auto;
    position: relative;
}
input[type='file'],input[type='file']:focus , input[type='file']:active , input[type='file']:link{
   width: 400px;
 border: 1px solid #d1d1d1;
margin: 10px auto;
padding: 5px;
outline: 0px;
cursor: pointer;
}
.profimge {
    padding: 0px;
}
.img-settings {
    width: 100%;
    height: 380px;
    background: #eee;
    position: absolute;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    display: inline-block;
 }
.slideResize {
 width: 100%;
 display: block ;
 margin: 0px auto ;
 padding: 5px;
 background: rgba(0,0,0,0.5);
 bottom: 0px;
 position: absolute ;
 left: 0px;
 right: 0px;
}
.title-zoom {
    float: left ;
    display: inline-block ;
    overflow: hidden ;
    color: #fff;
}
.slider {
    float: right;
    padding-top: 5px;
    margin-top: 3px;
}
.fill-progress-ppic {
    width: 100%;
    display: block ;
    overflow: hidden ;
     height: auto;
    position: absolute ;
    top:45%;
}
.progress-filler {
    width: 90%;
    display: block ;
    margin: 0px auto;
    background:teal;
    height: 15px;
   overflow: hidden; 
}
.fill-progress-ppic b {
    padding: 5px;
    display: block 
}
.color-fill {
    display: block ;
    overflow: hidden ;
    width: 0%;
    height: 100%;
    background: tomato;
     transition:all , .5s , ease-out ;
     -moz-transition:all , .5s , ease-out ;
     -webkit-transition: all , .5s , ease-out ;
}
.slideResize {
    display: none;
}

.control-btn {
      width: 400px;
 border: 1px solid #eee;
margin: 10px auto;
padding: 5px;
outline: 0px;
cursor: pointer;
overflow: hidden ;
}
.control-btn button {
    float: right ;
    border: 1px solid #d1d1d1;
    background: #eee;
    margin: 5px 5px;
    padding: 5px 7px;
    
}

.errorDisplayed {
    color: tomato;
margin-top: 20%;
display: block;
overflow: hidden;
width: 100%;
font-weight: bold;
text-align: center;
top: 30%;
position: absolute;
}
.general-btn {
    width: 98%;
    display: block ;
    margin: 10px auto;
    overflow: hidden ;
}
.buttons {
    margin: 0px;
    border: 0px;
    border-bottom: 1px solid #dfdfdf;
        margin: 0px auto;
}
.buttons > h5 {
    padding: 5px 20px;
    display: block;
    margin: 0px auto;
    color: #666;
}
.friend-addbox {
    height: auto ;
    display: block ;
    overflow: hidden ;
     margin: 10px auto;
   width: 98%;
    transition:all , .5s , ease-out ;
     -moz-transition:all , .5s , ease-out ;
     -webkit-transition: all , .5s , ease-out ;
}
.friend-block {
width: 410px;
height: 127px;
border: 1px solid #dfdfdf;
overflow: hidden;
margin: 5px 5px;
display: inline-block;
background: radial-gradient;
 padding: 10px;
}
.frdinfo-block{
    float: right;
display: inline-block;
overflow: hidden;
height: 108px;
width: 280px;

}
.image-block{
    float: left;
    display: inline-block;
    overflow: hidden;
    border-radius: 53px;
    margin: 3px;
    height: 92px;
    width: 92px;
    background-repeat: no-repeat;
    border: 3px solid #d1d1d1;
    line-height: 3;
    display: inline-block;
    margin-top: 13px;
}
.frdinfo-block h3 {
    width: 100% ;
    display: block ;
    overflow: hidden ;
    padding: 16px 8px 0px 8px;
    margin: 0px;
    font-family: arial,sans-serif ;
    font-size: 19px;
     font-family: 'SourceSansPro-Regular';
     font-weight: bold;
     color: #555;
}
.frdinfo-block span {
    width: 100%;
    display: block ;
    overflow: hidden ;
    padding: 0px;
    margin: 0px auto;
    text-align: left ;
    padding: 0px 8px 0px 8px;
    color: #777;
}
.add-msg-controller {
    display: block ;
    overflow: hidden ;
    width: 100% ;
}
.btncontacts ,.btncontacts:link , .btncontacts:focus ,.btncontacts:active ,.btncontacts:visited , .btncontacts:hover  
    {
      text-decoration: none;
}
.btncontacts {
   
    background: tomato;
    background-color: tomato;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    overflow: hidden;
    padding: 5px 5px;
    overflow: hidden;
    cursor: pointer;
     margin: 15px 4px 0px 0px;
    display: inline-block;
     float: right;
     height: 33px;
}
.frdadd , .frdadd:visited ,.frdadd:link ,.frdadd:hover  {
    background: tomato ;
     color: #fff;
     border: 1px solid #e52826;
     
}

.frdadd:hover  {
background: #e92929 ;
}
.msg-ff {
      
    background: #fff;
    color: #222;
}
.profile-content {
        position: relative;
    background: #fff;
    border: 1px solid #d9d9d9;
}  
.compl-headline {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    width: 100%;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
    border: 0px;
    margin-top: 5px;
    font-size: 25px;
}
.post-controls {
 padding: 10px 10px;
border: 0px;
line-height: 2;
display: inline-block;
border-bottom: 1px solid #eee;
margin: 0px auto;
float: unset;
display: block;
}
.msg-ff {
    border: 1px solid #d1d1d1;
}
.fa-frd {
    padding-right: 2px;
}
.block-of-users {
    width: 100%;
    height: auto;
    display: block ;
    overflow: hidden ;
    
}
.loadMoreBtn {
    padding: 5px;
    margin: 0px auto;
     color: tan; 
    font-weight: bold ;
    color: #222 ;
     transition:all , .5s , ease-out ;
     -moz-transition:all , .5s , ease-out ;
     -webkit-transition: all , .5s , ease-out ;
}
 



#circularG{
	position:relative;
	width:22px;
	height:22px;
	margin: auto;
}

.circularG{
	position:absolute;
	background-color:rgb(229,41,38);
	width:5px;
	height:5px;
	border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:1.1s;
		-o-animation-duration:1.1s;
		-ms-animation-duration:1.1s;
		-webkit-animation-duration:1.1s;
		-moz-animation-duration:1.1s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:9px;
	animation-delay:0.41s;
		-o-animation-delay:0.41s;
		-ms-animation-delay:0.41s;
		-webkit-animation-delay:0.41s;
		-moz-animation-delay:0.41s;
}

#circularG_2{
	left:2px;
	top:2px;
	animation-delay:0.55s;
		-o-animation-delay:0.55s;
		-ms-animation-delay:0.55s;
		-webkit-animation-delay:0.55s;
		-moz-animation-delay:0.55s;
}

#circularG_3{
	top:0;
	left:9px;
	animation-delay:0.69s;
		-o-animation-delay:0.69s;
		-ms-animation-delay:0.69s;
		-webkit-animation-delay:0.69s;
		-moz-animation-delay:0.69s;
}

#circularG_4{
	right:2px;
	top:2px;
	animation-delay:0.83s;
		-o-animation-delay:0.83s;
		-ms-animation-delay:0.83s;
		-webkit-animation-delay:0.83s;
		-moz-animation-delay:0.83s;
}

#circularG_5{
	right:0;
	top:9px;
	animation-delay:0.97s;
		-o-animation-delay:0.97s;
		-ms-animation-delay:0.97s;
		-webkit-animation-delay:0.97s;
		-moz-animation-delay:0.97s;
}

#circularG_6{
	right:2px;
	bottom:2px;
	animation-delay:1.1s;
		-o-animation-delay:1.1s;
		-ms-animation-delay:1.1s;
		-webkit-animation-delay:1.1s;
		-moz-animation-delay:1.1s;
}

#circularG_7{
	left:9px;
	bottom:0;
	animation-delay:1.24s;
		-o-animation-delay:1.24s;
		-ms-animation-delay:1.24s;
		-webkit-animation-delay:1.24s;
		-moz-animation-delay:1.24s;
}

#circularG_8{
	left:2px;
	bottom:2px;
	animation-delay:1.38s;
		-o-animation-delay:1.38s;
		-ms-animation-delay:1.38s;
		-webkit-animation-delay:1.38s;
		-moz-animation-delay:1.38s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}
.loadData {
    display: inline-block;
}



#floatingCirclesG{
    float: left ;
	position:relative;
	width:22px;
	height:22px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:4px;
	width:4px;
	border-radius:2px;
		-o-border-radius:2px;
		-ms-border-radius:2px;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:9px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:3px;
	top:3px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:9px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:3px;
	top:3px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:9px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:3px;
	bottom:3px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:9px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:3px;
	bottom:3px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(191,4,4);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(191,4,4);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(191,4,4);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(191,4,4);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(191,4,4);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
.inputY {
    width: 100%;
    display: block ;
    padding: 10px;
    border: 1px solid #eee;
    border-bottom: 0px;
}
.inputY:last-child{
     border-bottom: 1px solid #eee;
     resize: none ;
}