/* 
    Document   : courtrom
    Created on : Jun 10, 2016, 7:40:47 PM
    Author     : Montasser
    Description:
        Purpose of the stylesheet follows.
*/


.side-menu {
    background: #fff;
    padding: 0px;
    margin: 0px;
}
.side-menu ul {
    padding: 0px;
    margin: 0px; 
}
.side-menu ul li a , .side-menu ul li  a:hover , .side-menu ul li a:focus , .side-menu ul li a:active , .side-menu ul li a:link {
    border: 0px;
    padding-left: 18px;
   
}

 
 
.side-menu li a {
    color: #333;
    font-weight: bold;
}
.side-menu li a font {
    float: right;
    padding-right: 10px;
    text-align: center;
    color: #777;
}
.profile-cover-block {
    height: 265px;
}
.side-menu {
    border: 1px solid #dfdfdf;
    background: #fcfcfc;
 }
.men {
    padding-bottom: 15px;
width: 300px;
background: #fcfcfc;
border: 1px solid #dfdfdf;
}
body{
    background-image: url(../images/gavel-with-books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.mask-layer {
    background: rgba(203,185,150,0.7);
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 200;
}
.dev{
    z-index: 300;
    position: relative;
}
 
.courtroom-status {
    margin-top: 10px;
}
.navbar-default {
    z-index: 30000
}
.headtitle {
    background:rgba(203,185,150,1);
    color: #fff;
    padding: 5px 10px;
}
.side-menu ul {
    padding-bottom: 10px;
}
.side-menu {
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    border: 1px solid #fff;
}