/* 
    Document   : courtrom
    Created on : Jun 10, 2016, 7:40:47 PM
    Author     : Montasser
    Description:
        Purpose of the stylesheet follows.
*/


.side-menu {
    background: #fff;
    padding: 0px;
    margin: 0px;
}
.side-menu ul {
    padding: 0px;
    margin: 0px; 
}
.side-menu ul li a , .side-menu ul li  a:hover , .side-menu ul li a:focus , .side-menu ul li a:active , .side-menu ul li a:link {
    border: 0px;
    padding-left: 18px;
   
}

 
 
.side-menu li a {
    color: #333;
    font-weight: bold;
}
.side-menu li a font {
    float: right;
    padding-right: 10px;
    text-align: center;
    color: #777;
}
.profile-cover-block {
    height: 265px;
}
.side-menu {
    border: 1px solid #dfdfdf;
    background: #fcfcfc;
 }
.men {
    padding-bottom: 15px;
width: 300px;
background: #fcfcfc;
border: 1px solid #dfdfdf;
}
body{
    background-image: url(../images/gavel-with-books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.mask-layer {
    background: rgba(203,185,150,0.7);
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 200;
}
.dev{
    z-index: 300;
    position: relative;
}
 
.courtroom-status {
    margin-top: 10px;
}
.navbar-default {
    z-index: 30000
}
.headtitle {
    background:rgba(203,185,150,1);
    color: #fff;
    padding: 5px 10px;
}
.side-menu ul {
    padding-bottom: 10px;
}
.side-menu {
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    border: 1px solid #fff;
}
.accPanel {
    width: 70%;
    margin: 20px auto;
    height: auto;
    background: transparent;
    z-index: 2000;
    position: relative;
    overflow: hidden;
}
.courPersons {
    width: 48.3%;
    height: 100%;
    display: inline-block ;
    background: rgba(255,255,255,.5) ;
}
.courPersons:first-child{
    float: left ;
}
.courPersons:last-child{
    float: left ;
    
}
.mainTitle {
    width: 96.5%;
    height: auto;
     margin-bottom: 0px;
     margin-bottom: 0px;
    display: inline-block ;
    background: rgba(255,255,255,.5);
    padding: 8px 10px;
    font-weight: bold ;
    color: #333;
     background-image: url(../img_sliders/constitutional.png);
padding-left: 30px;
background-repeat: no-repeat;
background-position: 5px 4px;
background-size: 20px 20px;

background-position: 1% 47%;
 }
 
 .mainTitle  .span {
     margin-left: 5px;
     float: left;
     padding-top: 6px;
 }
 .mainTitle .btntt {
     font-weight: normal ;
    float: right ;
    
    padding: 5px 12px;
    cursor: pointer ;
    margin-right: 5px;
 }
 
   .btn2{
       border: 1px solid #999;
     background-color: #fff;;
 }
 .btn1 {
     background-color: tomato;
     color: #fff;
      border: 1px solid #dfdfdf;
 }
 .title-court {
     width: 100%;
     display: block ;
     overflow: hidden ;
     background: #222;
     height: auto;
     color: #fff;
 }
 .title-court b {
     padding: 5px 15px;
     display: block;
     font-size: 20px;
 }
 .contents {
     width: 100%;
     display: block ;
     overflow: hidden ;
 }
 .courPersons {
     border: 1px solid #222;
 }
 .dfsdde {
     float: left ;
     width: 200px;
     height: 20px;
     font-weight: bold;
     margin: 29px 2px;
     color: black;
 }
 .vvvv {
     padding: 10px;
     border-top: 1px solid #333;
 }
 .modal-content {
margin: 90px auto;
width: 50%;
padding: 20px;
border-radius: 0px;
 }
 .all {
     width: 100%;
     display: inline-block;
     border-bottom: 1px solid beige ;
 }
 .stc {
    border: 1px solid #eee;
padding: 5px 10px; 
margin: -5px 10px 13px 10px;
display: inline-block;
cursor: pointer; 
 }
 
 .modal-content {
     height: auto ;  
     overflow: hidden ;
 }
 .mediaIc {
     width: 100%;
     display: block ;
     overflow: hidden ;
     height: 90%;
      
 }
 .socialNET {
     float: left ;
     height: 100%;
     width: 28%;
     overflow: hidden ;
    border-right: 1px solid beige;
   
 }
  
 .icons {
    margin: 0px;
    margin: 10px auto;
    width: 90%;
    border: 1px solid #eee;
    padding: 9px 10px;
    cursor: pointer;
 }
 .icons:hover {
     border-color: rgb(57, 190, 185);
     color: rgb(57, 190, 185);
 }
 .frdfrd {
     width: 70%;
     float: left;
     height: 100%;
    overflow-y: auto;
     margin-left: 2px;
 }
 .name {
     float: left;
overflow: hidden;
display: inline-block;
float: left;
line-height: 3;
padding: 5px 10px;
 }
 .btns {
     float: right;
background: teal;
padding: 1px 10px;
line-height: 2;
margin: 12px;
color: #fff;
border-radius: 35px;
 }
 .btns:hover {
     background: rgb(57, 190, 185);
     cursor: pointer;
 }
 .frd-inv-container {
    height: 330px;
    overflow-y: auto ;
    display: block ;
 }
 .loadBtn {
     border: 0px;
     padding: 0px;
    display: block;
    background: ghostwhite;
    cursor: pointer;
 }
 .error-list-invt {
     width: 100%;
     display: none  ;
     padding: 10px;
    overflow: hidden;
    margin-top: 10px;
 }
 .mmk {
line-height: 1;
padding-left: 8px;
margin-top: 6px;
display: inline-block;
width: 100%;
display: block;
text-align: left;
overflow: hidden;
 }
 .invitPersons:last-child {
     border: 0px solid #dfdfdf;
 }
 .addjop {
     font-weight: normal;
    font-size: 12px;
    cursor: pointer;
 }
 .statusInvite {
     color: #dfdfdf;
     font-size: 12px;
 }

 .statusInvite {
    color: #b1b1b1;
    font-size: 9px;
}
.ldinv {
    width: 100%;
    padding: 5px 10px;
    display: block ;
    overflow: hidden ;
    text-align: center ;
    cursor: pointer ;
    font-weight: bold ;
}


.courtroom-setting {
    background: #e7e7e7;
    min-height: 95px;
    margin-top: 10px;
    max-height: 439px;
    overflow-y: auto;
}
.infoR {
    padding-left: 5px;
    display: inline-block;
    font-size: 12px;
}
.addjop {
    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
    padding-top: 4px;
    display: block;
}































.cssload-jumping{
	position:relative;
	display:block;
	margin: 97px auto;
	width:107px;
}
	
.cssload-jumping, .cssload-jumping * {
	box-sizing: border-box;
}

.cssload-jumping span {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: rgb(47,172,155);
	border-radius: 487px;
	background-clip: padding-box;
		-o-background-clip: padding-box;
		-ms-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
	animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
	animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
	animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
	animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
	animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
	0% {
		transform: scale(0);
	}
	25% {
		transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		transform: scale(0);
	}
}

@-o-keyframes scale {
	0% {
		-o-transform: scale(0);
	}
	25% {
		-o-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-o-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-o-transform: scale(0);
	}
}

@-ms-keyframes scale {
	0% {
		-ms-transform: scale(0);
	}
	25% {
		-ms-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-ms-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-ms-transform: scale(0);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
	}
	25% {
		-webkit-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-webkit-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0);
	}
	25% {
		-moz-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-moz-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-moz-transform: scale(0);
	}
}





.jopContainer {
    background: rgba(250,250,250,0.7);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute ;
    z-index: 200;
}
.jusCon {
    position: relative ;
    display: block ;
    overflow: hidden ;
    height: auto ;
    width: auto ;
}

.cssload-jumping {
    position: relative;
    display: block;
    margin: 16% auto;
    width: 107px;
}
.jopContainer {
    display: none ;
}
.mask-jp {
    background-color: rgba(0,0,0,.2);
}

.img-invi {
       background-color: #eee;
    border: 1px solid mintcream;
    margin: 10px auto;
    display: block;
    float: none ;
}


 .infoR {
    font-size: 12px;
    width: 100%;
    display: block;
     padding: 10px 5px;
    text-align: center;
 }