/* 
    Document   : event
    Created on : Jun 26, 2016, 4:39:24 PM
    Author     : Montasser Mossallem
    Description:
        Purpose of the stylesheet follows.
*/

.main-profile-menu {
    float: right;
}
.profile-cover-block {
    overflow: hidden;
    position: relative;
}
.mask-image {
    background: rgba(0,0,0,.2);
}
.event-title-headlinie {
    position: absolute ;
    overflow: hidden ;
     bottom: 0px;
    color: #fff;
      display: block ;
      padding: 0px;
      margin: 0px;
  }
.event-day {
    display: inline-block ;
    border: 1px solid #fff ;
     padding: 10px;
    text-align: center ;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 5px 10px 20px ;
}
.event-title {
    font-size: 23px;
    padding: 20px 0px;
    display: inline-block;
}
.main-event-title {
    width: 100%;
    display: block ;
    overflow: hidden;
    background: #fff;
    padding:  5px;
}
.left-part {
    width: 50%;
    display: inline-block;
    float: left;
    border: 0px;
    height: auto;
    min-height: 20px;
   
}
.right-part {
     width: 48%;
     display: inline-block;
    float: left;
    border: 0px;
    height: auto;
    min-height: 20px;
   
}

.mdinfo {
      background-repeat: no-repeat ;
    background-size: 20px 20px;
    background-position: left ;
    background-image: url(../images/clock.png);
     padding-left: 35px;
     display: block;
     border-bottom: 1px solid #eee;
     padding-top: 20px;
     padding-bottom: 20px;
    font-size: 13px;
    color: #555;
    width: 100%;
}
.mdinfo:last-child {
    border: 0px;
}