/* 
    Document   : login
    Created on : Jun 5, 2016, 8:54:31 PM
    Author     : Montasser
    Description:
        Purpose of the stylesheet follows.
*/

 /*Fonts*/
 @font-face {
  font-family: 'Canterbury';
 src: url('../fonts/Canterbury.ttf') format('opentype');
}

 @font-face {
  font-family: 'AnglicanText';
 src: url('../fonts/AnglicanText.ttf') format('opentype');
}

a:link ,a:hover , a:focus , a:visited {
    text-decoration: none;
    cursor: pointer;
}
.body-bg {
     background-image: url(../img_sliders/1.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 80% ; 
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    z-index: 1;
 }
 .mask-layer {
      top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    z-index: 16;
   background: rgba(203,185,150,0.7); /* For browsers that do not support gradients */
  
 }
 .parent-bg {
     
    background-size: cover;
    background-repeat: no-repeat;
     
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 5;
    right: 0px;
    position: fixed;
 }
 .img-background {
    opacity: 0;
    -webkit-transition: opacity 4s ease-in-out;
  -moz-transition: opacity 4s ease-in-out;
  -ms-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
  transition: opacity 4s ease-in-out;
 }
 .header-con {
      top: 100px;
 }
 .contetns {
     position: relative;
     z-index: 20;
    
 }
 .sign-box {
     float: right;
     width: 370px;
     height: auto;
     background: #fff;
     border-radius: 5px;
     overflow: hidden;
 }
 
 .box-logs {
     width: 85%;
     display: block;
     overflow: hidden;
     margin: 18px auto;
     border-bottom:  2px solid #eee;
 }
 .box-logs:first-child {
      margin: 25px auto;
 }
 
 .box-logs-btn {
     width: 85%;
     display: block;
     overflow: hidden;
     margin: 18px auto 0px auto;
    background: #e62a28; 
          color: #fff;
          border-radius: 3px;
          padding: 10px 15px;
          border-bottom: 4px solid #b01513;
 }
 .box-logs-btn:hover {
     color: #fff;
 }
 .cont-another {
      width: 85%;
     display: block;
     overflow: hidden;
     margin: 0px auto;
     margin: 5px auto 0px auto;
    padding: 10px 0px;
 }
 .inputs {
     width: 100%;
     padding: 5px;
      border: 1px solid transparent;

 }
 .cont-another a:first-child {
     margin-top: 5px;
     display: inline-block;
     color: #999;
     float: left ;
 
 }
 
  .cont-another a:last-child {
     margin-top: 5px;
     display: inline-block;
     color: #e62a28;
     float: right ;
 }
 .is-member {
     width: 100%;
     background: #f1f1f1;
     padding: 9px 10px;
     
 }
 
 .is-member a {
     color: #000;
 }
 .is-member a span{
     color: #e62a28;
    
 }
 .logo {
      font-family: 'PT Serif', serif;
      padding: 0px;
      margin: 0px ;
      color: #222;
      font-size: 42px;
 }
 .slogan {
     font-family: 'AnglicanText';
     font-size: 63px;
     color: #e62a28;
 }
 .footer {
     background: rgba(250,250,250,0.5);
 }
 .nav > li > a:focus, .nav > li > a:hover , .nav > li > a:focus, .nav > li > a:focus , .nav > li > a:focus, .nav > li > a:active ,.nav > li > a:focus, .nav > li > a{
     background: none ;
     color: #222;
     outline: none;
     border-left: 1px solid rgba(213,213,213,0.5);;
     
 }
 @media only screen and (max-width:800px){
      .footer {
          display: none;
       }   
 }
 .sign-up {
     width: 80%;
 }
 .by-half {
     width: 47%;
     margin-left: 5px;
 }
 .gender {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
 }
 
  .gender li{
  color: #AAAAAA;
  display: inline;
  position: relative;
  float: left;
  margin-left: 20px;
 display: inline-block;
}
.gender li:first-child {
    margin-right: 20px;
}
.error-logs {
    height:auto;
    width: 100%;
    display: block ;
    overflow: hidden ;
    background: tomato;
}
.error-logs {
    display: none ;
    padding: 8px 10px;
    color: #fff;
}

#floatingCirclesG{
	position:relative;
	width:29px;
	height:29px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:5px;
	width:5px;
	border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:12px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:3px;
	top:3px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:12px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:3px;
	top:3px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:12px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:3px;
	bottom:3px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:12px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:3px;
	bottom:3px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(255,255,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
.menuloadLogin {
    display: inline-block ; 
    overflow: hidden ;
    list-style: none ;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.menuloadLogin li {
    display: inline;
}


#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(255,255,255);
	width: 15px;
        height: 15px;
        margin-top: 6px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(255,255,255);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}