/* 
    Document   : profile
    Created on : Jun 6, 2016, 6:16:21 PM
    Author     : Montasser
    Description:
        Purpose of the stylesheet follows.
*/

/********** Fonts ********************/



@font-face {
    font-family: 'SourceSansPro-BoldIt';
    src: url(../fonts/SourceSansPro-BoldIt.otf);
}

@font-face {
    font-family: 'Blacksword';
    src: url(../fonts/Blacksword.otf);
}

body {
    outline: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: arial , sans-serif;
    background-color: #f5f4f0;
}
.navbar-default  {
    background: #fff ;
box-shadow: 0px 0px 2px 0px #dfdfdf;
}

root { 
    display: block;
}
.navbar-default .navbar-brand:hover,.navbar-brand:focus, .navbar-brand:active , .navbar-brand  {
    color: #000 ;
    font-family: 'PT Serif';
    outline: 0px;
}
.navbar-default {
    border-radius: 0px;
}
.navbar-default .navbar-nav > li a {
    border-left: 1px solid #f9f9f9;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}

.profile-pics {
    background-size: 38px 38px ;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat; 
    background-position: 100% 0%;
    border-radius: 38px;
    height: 38px;
    width: 38px;
    float: left;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
.user-names span {
    float: left;
     line-height: 2.5;
     padding-left: 5px;
}
.tooltip-inner {
    width:  auto;
    border-radius: 0px;
}
.counts {
     position: absolute;
     background-color: tomato;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px;
    font-size: 10px;
    line-height: 1.3;
    background-clip: padding-box;
    display: inline-block;
    font-family: arial , sans-serif ;
    right: 5px;
    top: 8px;
}
.navbar-nav > li > a > i {
    font-size: 20px;
}
.side-menu {
    display: block;
    list-style: none;
   
}
.side-menu li {
    display: block;
    overflow: hidden ;
     
}
.side-menu li a ,.side-menu li a:hover ,  .side-menu li a:link , .side-menu li a:visited , .side-menu li a:active{
    text-decoration: none;
    cursor: pointer;
    color: #333;
    padding: 8px 5px ;
    display: block;
     
    border-bottom: 1px solid #d9d9d9;
}
.side-menu li a span {
    padding-left: 5px;
}
.side-menu li a i {
    font-size: 15px;
}
.profile-cover-block {
    width: 100%;
    display: block;
    height: 300px;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0%;
}
.profile-pic-container {
   width: 100%;
    display: block;
    height: 50px;
    background: #fff;
    display: inline-block;
}
.profile-content {
    position: relative;
}

.main-profile-menu {
    padding-left: 0px;
    height: 100%;
     
    display: inline-block;
   overflow: hidden;
}

.menu-head-profile {
    display: block;
    list-style: none;
    overflow: hidden;
}
.menu-head-profile li {
    display: inline-block;
}
.menu-head-profile li a ,.menu-head-profile li a:hover , .menu-head-profile li a:link , .menu-head-profile li a:visited{
    padding: 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #666;
    font-weight: bold;
    border-left: 1px solid #f1f1f1;
 
}

.post-controls {
    width: 100%;
    display: block;
    height: auto;
    /* background: #f9f8f6; */
    overflow: hidden;
}
.left-part {
    display: inline-block ;
    width: 30%;
     overflow: hidden;
    min-height: 200px;
    float: left;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}
.right-part {
    display: inline-block ;
     width: 69%;
      min-height: 200px;
     float: right;
}
.intro , .friend-list-profile {
     background: #fff;
     display: block;
     width: 100%;
     overflow: hidden;
     margin-top: 10px;
}
.headtitle-intro ,.friend_title{
    width: 98%;
    display: block;
     overflow: hidden;
    color: #999;
    padding: 10px 15px;
}
 
.headtitle-intro b ,.friend_title b {
 font-size: 20px;
 color: teal;
 font-family: 'Blacksword';
}
.intro-content {
    width: 100%;
    display: block;
    overflow: hidden;
}
.menu-introduction {
    display: block;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu-introduction li{
    display: block;
    overflow: hidden;
     padding: 5px 10px;
}

.menu-introduction li a , .menu-introduction li a:hover , .menu-introduction li a:active , .menu-introduction li a:link {
    text-decoration: none;
    font-family: arial , sans-serif;
   
}
.menu-introduction li a span {
    color: #555;
}
.menu-introduction li a span:last-child {
    color: #365899;
}
.menu-introduction li a font {
    display: inline-block ;
    color: #000;
}
.menu-introduction li a i {
    display: inline-block;
    padding: 5px;
    color: #999;
}
.friend_lists {
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 3px;
    display: inline-block;
}
.photo-friends {
width: 75px;
height: 75px;
overflow: hidden;
position: relative;
float: left;
margin: 2px;
background-position: 100% 0%;
background-size: cover;
background-repeat: no-repeat;
border-radius: 1px;
display: inline-block;
}
.mask-image {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background: rgba(0,0,0,0.3);
}
.user-names {
    bottom: 0px;
    position: absolute ;
    color: #fff;
    padding: 0px 3px 3px 3px;
    font-family: arial ,sans-serif;
    font-size: 13px;
}
.postAdd {
    display: inline-block;
    overflow: hidden ;
    background: #fff;
    width: 100%;
    margin: 10px auto;
    border: 1px solid #dfdfdf;
}
.post-titles , .post-contents {
    width: 100%;
    display: block;
    overflow: hidden;
}
.post-menu {
    padding: 0px;
    margin: 0px;
    display: block;
    list-style: none;
}
.post-menu li {
    display: inline-block;
   
}
.post-menu li a  {
    color: #222;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}
.post-menu li a:hover , .post-menu li a:active , .post-menu li a:link {
     text-decoration: none;
}
.post-titles {
    background: rgba(238,238,238,.5);
}
.post-contents {
    background: #fff;
    padding: 5px;
    min-height: 60px;
 }
 
 [contentEditable=true]:empty:not(:focus):before{
     color: #999;
        content:attr(data-text)
 }
 .post-btn {
     border-radius: 0px;
     margin: 5px;
     padding: 3px 10px;
     float: right;
 }
 .posts-get {
       width: 100%;
       display: block;
       overflow: hidden;
       background: #fff;
       border:1px solid #eee;
 }
 .profilePics {
     width: 100%;
     display: block;
     padding: 10px 10px 0px 10px;
     overflow: hidden ;
 }
 .user-image {
     float: left;
     display: inline-block ;
     width: 50px;
     height: 50px;
     background-repeat: no-repeat;
     background-size: cover ;
     background-position: 100% 0%;
 }
 .user-posts-name {
     float: left;
     display: inline-block ;
     width: auto ;
     overflow: hidden;
 }
 .user-posts-name b {
     padding-left: 10px;
     padding-top: 5px;
     display: block;
     width: 100%;
     
 }
 .user-posts-name a {
     cursor: pointer;
     display: block;
     padding-left: 12px;
     padding-top: 0px;
     font-size: 11px;
     color: #999;
 }
 .sty {
     padding-left: 10px;
     font-size: 13px;
 }
 .post-conts {
     width: 100%;
     display: block;
     overflow: hidden;
     
 }
 .img-posts {
     border: 1px solid #eee;
     margin: 10px auto;
 }
.post-control-set {
     width: 100%;
     display: block;
     overflow: hidden;
     background: #fff;
     border-top: 1px solid #dfdfdf;
     padding-top: 10px;
 }
 .btn-smile {
     float: left;
     display: inline-block;
     background: #eee;
     padding: 10px;
     border-right: 1px solid #dfdfdf;   
     cursor: pointer;
 }
 .btn-smile i {
     color: teal;
 }
 .menu-cont {
     display: block;
     overflow: hidden;
     list-style: none;
     padding: 0px;
 }
 .menu-cont li {
     display: inline-block;
 }
 .menu-cont li a {
     padding-left: 15px;
     cursor: pointer;
     font-size: 13px;
     font-family: arial , sans-serif;
     font-weight: bold;
     color: #555;
     padding-bottom: 3px;
     display: inline-block;
 }
 .disputs {
     background-size: 16px 16px;
     background-repeat: no-repeat;
     background-position: -0px 0px;
     height: 16px ;
     width: 16px;
     display: inline-block;
 }
 .get-com-dis-lke-dpt {
     display: block;
     overflow: hidden;
     background: #eee;
     width: 100%;
     border: 5px solid;
border-color: #fff;
 }
 .contpost {
     display: block;
     width: 100%;
     overflow: hidden;
     padding: 10px 0px 0px 0px;
     border-top: 1px solid #dfdfdf;
 }
 
  .menu-cont2 {
     display: block;
     overflow: hidden;
     list-style: none;
     padding: 0px;
 }
 .menu-cont2 li {
     display: inline-block;
 }
 .menu-cont2 li a {
     padding-left: 15px;
     cursor: pointer;
     font-size: 12px;
     font-family: arial , sans-serif;
     font-weight: bold;
     color: #555;
     padding-bottom: 0px;
     display: inline-block;
 }
 .add-com {
     width: 94%;
     display: block;
     overflow: hidden;
     background: #eee;
     margin: 0px auto;
     padding: 8px;
 }
 .writeComment {
     width: 90%;
     display: inline-block;
     min-width: 30px;
     float: left;
     margin-left: 5px;
     overflow: hidden;
     padding-left: 10px;
     background: #fff;
     min-height: 30px;
 }
 .posts-get {
     margin-bottom: 10px;
 }
 .left-head {
     display: inline-block;
width: 38%;
overflow: hidden;
min-height: 200px;
float: left;
background: #fff;
 }
 .img-block {
     
     overflow: hidden;
     width: 250px;
      
     margin: 10px auto;
     min-height: 250px;
     padding: 10px;
     display: block;
      
     background-position: 80% 100%;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .profile-title {
     width: 100%;
     display: block;
     overflow: hidden;
     padding: 10px;
     margin: 0px;
    border-bottom: 1px solid #dfdfdf;
    background: -webkit-linear-gradient(#fafafa, #f6f6f6, #fafafa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fafafa, #f6f6f6, #fafafa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fafafa, #f6f6f6, #fafafa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fafafa, #f6f6f6, #fafafa); /* Standard syntax (must be last) */
 }
 
 .profile-pic-con {
     margin: 0px;
     
 }
 .intro {
     border-bottom: 1px solid #dfdfdf;
     border-top:  1px solid #dfdfdf;
      
 }
 .intro:first-child {
      border-top:  0px solid #dfdfdf;
 }
 .friend_lists ul {
     list-style: none;
     display: block ;
     overflow: hidden ;
     padding: 0px;
     margin: 0px;
     width: 90%;
     padding: 0px 10px 0px 10px;
 }
 .friend_lists ul li {
     display: block ;
     
 }
 .friend_lists ul a {
     color: #555;
     padding: 7px;
     display: block;
 }
 .friend_lists ul a:hover , .friend_lists ul a:link , .friend_lists ul a:visited , .friend_lists ul a:focus {
     text-decoration: none;
     cursor: pointer;
 }
 
 .sidebar-outer {
    
    position: relative;
}
.fixed {
    position: fixed;
       top:30px;
      bottom: 0px;
      padding-right: 10px;
     
}
.side-menu {
    padding: 50px 0px 0px 0px;
}
.sponsared {
    display: block;
    width: 100%;
    overflow: hidden;
    height: auto ;
     
}
.post-controls {
border-left: 1px solid #dfdfdf;
padding-left: 10px;

border-right:  1px solid #dfdfdf;
padding-right: 10px;
}

.vfr {
width: 100%;
position: relative;
display: inline-block;
padding: 0px;
margin: 0px;
right: 0px;
}
@media only screen and (max-width:800px){
    .fixed {
        display: none;
    }
}
._4xvg {
    color: #3b5998;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._5vwj ._5vwk {
    color: #90949c;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 1.28;
    padding-top: 6px;
}
.adds {
    padding: 10px;
    margin: 2px;
    width: 95%;
    display: block;
    overflow: hidden;
}
.jurylist {
    height: 150px;
    width: 100%;
    background: #e7e7e7;
    overflow: hidden;
}
.slick-prev{
    background: transparent;
}
.slick-next {
     background: transparent;
}
.jury-box {
    background: transparent;
    margin: 5px;
    height: auto;
    overflow: hidden;
}
.jury-profile {
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: 80% 100%;
    height: 140px;
    width: 140px;
    border: 1px solid #dfdfdf;
    padding: 15px;
    display: block;
    position: relative;
}
.headline-jury {
    padding: 10px 10px 10px 5px ;
    display: block;
    color: #fff;
}
.mask-jp {
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
.dis {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    padding: 5px;
    display: block;
    margin: 5px 8px;
}
.courtroom-setting {
    width: 100%;
    display: block ;
    overflow: hidden;
    height: auto;
    position: relative;
}
.invitations {
   
    display: inline-block;
    overflow: hidden;
}
.left-items {
     width: 47%;
  display: inline-block;
  border :1px solid red;
  margin: 5px;
  min-height: 350px;
   
}
.courtroom-setting {
    background:#e7e7e7;
     min-height: 95px;
   margin-top: 10px;
}
.headline-setelement {
    color: #fff;
    padding: 5px;
    width: 100%;
    display: block;
    background: #222;
}
.container-of-setelement {
    background-repeat: no-repeat ;
    background-position: center ;
     padding: 5px 8px;
   min-height: 60px;
   background-size: 40px auto;
}
.setllme {
    display: inline-block;
    overflow: hidden;
    width: 40%;
     line-height: 2;
}
.setllme:first-child {
    float: left;
}
.setllme:last-child {
    float: right;
}
.setImg {
    float: left;
    width: 15%;
    min-height: 55px;
    /*  background: firebrick; */
}
.table {
    margin-bottom: 0px;
}
.invitPersons {
    width: 95%;
    display: block;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
    margin: 5px auto;
}
.img-invi {
    width: 40px;
    height: 40px;
    background: green;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: inline-block;
    float: left;
}
.mmk {
    line-height: 3;
    padding-left: 8px;
}
.eviden {
    width: 100%;
    display: block;
    overflow: hidden;
   background:#e7e7e7;
    overflow: hidden;
    height: auto;
    padding: 10px;
}
.headlineviden {
    width: 100%;
    display: block;
    overflow: hidden;
}
.main-comments {
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 500px;
    background: rgba(250,250,250,0.5);
    margin-top: 10px;
}
.block-headline {
    width: 100%; 
    display: block ;
    overflow: hidden ;
    padding: 10px;
    margin: 10px;
    background: #fff;
    border: 1px solid #dfdfdf;
}
.block-headline h3 {
    display: inline-block ;
    overflow: hidden ;
    padding: 0px ;
    margin: 0px;
}
.block-headline span {
    background: #222;
    color: #fff;
    padding:2px 5px;
    border-radius: 5px;
    margin-left: 10px;  
}
.video-container {
    display: block ;
    overflow: hidden ;
    position: relative ;
    background: #fff;
    width: 100% ;
    height: 300px;
    margin: 10px;
    border: 1px solid #dfdfdf;
 }
 .vi {
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
    background-image: url(../images/captain-america-civil-war.jpg) ;
    height: 300px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0px 0px 5px 0px #fff;
   
 }
.mask-video {
    display: block ;
    overflow:  hidden ;
    top: 0px;
    left: 0px;
    bottom: 0px; 
    right:  0px;
    background: #fff ;
    position: absolute ;
    opacity: 0.5; 
}
.img-blocks {
    cursor: pointer ;
    overflow: hidden ;
    width: 90px;
    z-index: 1000;
    position: relative;
    margin: 15% auto ;
    display: block;
}
.video-controler {
    width: 100%;
    display: inline-block;
    overflow: hidden;
     height: auto;
    background: #fff;
    margin:0px 10px;
    padding: 10px;
    border: 1px solid #dfdfdf ;
}
.vid-menu {
    display: block ;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.vid-menu li {
    display: inline-block;
    overflow: hidden ;
}
.update {
    padding: 0px;
    display: inline;
}
.vi img {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #000;
}
.voting {
    background: #fff;
    border: 1px solid #dfdfdf;
    width: 100%;
    min-height: 500px;
    display: block;
    margin-top: 10px;
}
.menu-cont li a , .menu-cont li a:active , .menu-cont li a:focus , .menu-cont li a:link {
    text-decoration: none;
}
.vid-rating:hover {
    color: teal ;
}
.video-controler2 {
    overflow: hidden;
    min-height: 40px;
}

/*SourceSansPro-BoldIt*/
.vot-number {
    font-family: 'SourceSansPro-BoldIt';
    padding: 10px;
    margin: 0px;
    display: inline-block;
    width: 100%;
    overflow: hidden ;
}
.progress-video {
    width: 290px;
    height: 20px;
    background: transparent;
       display: inline-block ;
    margin:0px 20px;
    position: relative ;
    border: 1px solid #eee;
}
.vot-number span {
   display: inline-block ;
}
.progress-video > .fill {
    width: 80%;
    height: 100%;
    background: teal;
    display: block;
}
.block-theater {
    width: 100%;
    display: block ;
    overflow: hidden ;
 
}
.nbtr h5 {
    display: inline-block ;
    padding: 0px 10px;
    font-family: sans-serif ,arial ;
    width: 100%;
    background: #222;
    padding: 5px 10px;
    color: #fff;
    margin-top: -10px;
}
.vid-ratingx {
    width: 20px;
     
}

.friend-req {
    width: 100%;
    height: 100px;
    background: transparent;
    margin: 5px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #eee;
}

.friend-add {
    width: 365px;
    height: 130px;
    background: transparent;
    margin: 5px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #eee;
}
.img-pics {
    display: inline-block ;
    width: 130px;
    height: 130px;
    background: green;
    background-size: cover ;
    background-repeat: no-repeat ;
     border-right: 1px solid #eee;
    float: left;
}

.img-pics-req {
    display: inline-block ;
    width: 100px;
    height: 100px;
    background: green;
    background-size: cover ;
    background-repeat: no-repeat ;
     border-right: 1px solid #eee;
    float: left;
}

.img-nae {
    display: inline-block;
    width: 220px;
    padding-left: 5px;
    height: 130px;
    float: left;
    background: transparent;
    
}

.img-nae-req {
    display: inline-block;
    width: 200px;
    padding-left: 5px;
    height: 130px;
    float: left;
    background: transparent;
    
}
.img-nae b {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: left;
    padding: 20px;
}

.img-nae-req b {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: left;
    padding: 10px;
}
.mdfgg {
    color: #888;
}

.mdfgg-req {
    color: #888;
}
.addbtn {
    background: none ;
    border: 1px solid #dfdfdf ;
    padding: 5px 10px;
    margin: 0px 3px;
    float: left;
}
.frds {
   min-height: 200px;
   height: auto;
}
.btn-req {
    padding: 2px 10px;
    border: 0px;
    border-radius: 0px;
    margin: 8px 3px;
    float: left;
}
.msg-btn , .msg-btn:hover ,.msg-btn:active , .msg-btn:focus , .msg-btn:link {
    background: #fff;
    color: #222;
    border: 1px solid #eee;
}
.comments-frds {
    width: 100%;
    display: block ;
    min-height: 20px;
     
}
.updating {
    padding: 0px;
    margin: 0px;
    width: 16%;
    overflow: hidden;
    height: auto;
    min-height: 700px;
    margin-right: 5px;
}
.nrf-headline {
    background: #222;
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding: 5px 8px;
}
.rcntcmnt {
    width: 100%;
    display: block;
    overflow: hidden;
    background: #fff;
    padding: 5px 8px;
    padding-left: 37px;
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 3px -1px;
    margin-top: 5px;
    font-size: 12px;
    
}
.con-recent {
    width: 100%;
    display: block;
    overflow: hidden;
    background: #fff;
}

.menu-videos {
    width: 100%;
    display: block ;
    overflow: hidden ;
    padding: 5px 8px;
    background: #222;
    list-style: none ;
}
.menu-videos li {
    display: inline-block ;
}
.menu-videos li a {
    color: #fff;
    padding: 2px 10px; 
    border-right: 1px solid #666 ;
}