
.cssload-jumping span {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: rgb(47,172,155);
	border-radius: 487px;
	background-clip: padding-box;
		-o-background-clip: padding-box;
		-ms-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
	animation: scale 0.8s 0.075s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.8s 0.075s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.8s 0.075s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.8s 0.075s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.8s 0.075s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
	animation: scale 0.8s 0.16s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.8s 0.16s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.8s 0.16s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.8s 0.16s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.8s 0.16s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
	animation: scale 0.8s 0.235s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.8s 0.235s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.8s 0.235s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.8s 0.235s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.8s 0.235s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
	animation: scale 0.8s 0.32s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.8s 0.32s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.8s 0.32s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.8s 0.32s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.8s 0.32s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
	animation: scale 0.8s 0.395s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.8s 0.395s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.8s 0.395s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.8s 0.395s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.8s 0.395s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
	0% {
		transform: scale(0);
	}
	25% {
		transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		transform: scale(0);
	}
}

@-o-keyframes scale {
	0% {
		-o-transform: scale(0);
	}
	25% {
		-o-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-o-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-o-transform: scale(0);
	}
}

@-ms-keyframes scale {
	0% {
		-ms-transform: scale(0);
	}
	25% {
		-ms-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-ms-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-ms-transform: scale(0);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
	}
	25% {
		-webkit-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-webkit-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0);
	}
	25% {
		-moz-transform: scale(0.9, 0.9);
		background: rgb(147,225,215);
	}
	50% {
		-moz-transform: scale(1, 1);
		margin: 0 3px;
		background: rgb(47,172,155);
	}
	100% {
		-moz-transform: scale(0);
	}
}






.img-opend {
    width: 100%;
}
.trds {
    width: 60%;
    float: left;
}
.musicTitleUpload {
    margin-left: 120px;
    width: 100%;
    display: block ;
    overflow: hidden;
    margin: 5px 10px;
}
.homePostContainer {
    width: 97%;
    margin: 2.5px auto;
    display: block ;
    overflow: no-display ;
    background: #fff;
    height: auto;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    height: auto;
}  
.img-timeline {
    width: 99% ;
    display: block ;
    overflow: hidden ; 
}
.userProfileInfo {
    display: block ;
    overflow: hidden ;
    width: 100%;
}
.reposition.fa {
    font-size: 11px;
}
.get-text-post{
    font-family: inherit;
    font-size: 14px;
font-weight: normal;
line-height: 1.38;
padding-bottom: 10px;
}
.img-posts {
    padding: 10px;
}
.homePostContainer {
    width: 80%;
}
.musicTimeline {
    width: 100%;
    display: block;
    overflow: hidden ;
    position: relative;
   height: auto;
    background: transparent;
    margin: 21px auto;
}
input[type=range]:focus  , input[type=range]:hover , input[type=range]:active {
    outline: 0px;
}
 
input[type=range] {
  -webkit-appearance: none;
   display: inline-block;
  margin: 0px 5px;
  width: 98%;
    outline: 0px;
}
input[type=range]:focus {
  outline: 0px;
  
}
input[type=range]::-webkit-slider-runnable-track {
  width: 98%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: teal;
  border-radius: 0px;
  border: 0px solid #000101;
   outline: 0px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #012e2e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
  box-shadow: 0px 0px 3px 0px #008080;
   outline: 0px;
}






input[type=range]:focus::-webkit-slider-runnable-track {
  background: teal;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: teal;
  border-radius: 0px;
  border: 0px solid #000101;
   outline: 0px;
}




input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #012e2e;
  cursor: pointer;
   box-shadow: 0px 0px 3px 0px #008080;
    outline: 0px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
   outline: 0px;
}
input[type=range]::-ms-fill-lower {
  background: brown;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
   outline: 0px;
}
input[type=range]::-ms-fill-upper {
  background: violet;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
   outline: 0px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: chocolate;
  cursor: pointer;
   outline: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: teal;
   outline: 0px;
}
input[type=range]:focus::-ms-fill-upper {
  background: teal;
   outline: 0px;
}


.musicController {
    width: 99%;
    display: block;
    overflow: hidden ;
    margin: 0px auto;
    height: auto;
 }
 
 .font-music-icon {
display: inline-block;
overflow: hidden;
color: tomato;
font-size: 22px;
margin-left: 2px;
margin: 0px auto;
 margin-top: -3px;
 }
 .sound {
     float: right;
     width: 100px;
     display: inline-block;
     overflow: hidden;
     position: relative;
 }
 .sonName {
  margin-bottom: 5px;
float: left;
margin-top: 3px;
color: #646464;
 }
 .homePostContainer {
  width: 95.4%;
margin-bottom: 12px; 
border: 3px solid #dcdcdc;
box-shadow: 0px 0px 5px 0px #999;
border-radius: 0px; 
float: left; 
}
input { outline:0px  transparent dotted; }
.imgThumnails {
   width: 80px;
height: 80px;
position: relative;
display: inline-block;
float: left;
background: #eee;
margin: 10px 8px;
border: 0px solid #dcdcdc;
box-shadow: 0px 0px 5px 0px #999;
}
.songInfo {
    display: inline-block ;
    overflow: hidden;
    float: left;
    isplay: inline-block;
overflow: hidden;
float: left;
float: left;
margin-top: 6%;
margin-top: 15px;
margin-left: 10px;
font-size: 16px;
}
.singerName {
 color: #999;
font-size: 13px;
width: 100%;
display: block;
overflow: hidden;
float: left;
}
.musicOp {
width: 40px;
height: 40px;
display: inline-block;
overflow: hidden;
float: right;
line-height: 40px;
text-align: center;
margin-top: 24px;
margin-right: 20px;
border: 3px solid tomato;
border-radius: 20px;
cursor: pointer;
box-shadow: 0px 0px 7px 0px tomato;
}
.imgThumnails {
    background-size: cover ;
    overflow: hidden ;
    text-align: center ;
} 
.icon-googleplay {
    margin-left: 5px;
}
.icon-pause-5 {
    margin-left: 0px;
}
.gootoProfil ,.gootoProfil:hover , .gootoProfil:link , .gootoProfil:visited{
    text-decoration: none ;
    outline: 0px;
  color: #333;
  padding: 0px;
  margin: 0px;
    display: block;
    width: 100%;
    font-weight: bold;
}
.user-posts-name b {
    font-size: 13px;
}


.add-com-hp {
    width: 100%;
    display: block;
    overflow: hidden;
    background: #eee;
    margin: 0px auto;
    padding: 8px;
    border: 6px solid #fff;
}


i.iconstilsh {
    display: inline-block;
     height: 25px;
    width: 25px;
    border-radius: 13px;
    background: #dcdcdc;
    text-align: center;
    line-height: 1.8;
    color: darkcyan;
     box-shadow: 0px 0px 3px 0px transparent ;
    transition: all , ease-in-out , 0.3s ;
    -moz-transition: all , ease-in-out , 0.3s ;
    -webkit-transition: all , ease-in-out , 0.3s ;
}
.postContainer {
    display: block ;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.homePostContainer {
    z-index: 100;
    position: relative;
    height: auto;
}
.acc {
    position: absolute;
    z-index: 101;
    top: 7%;
    right: 2px;
    list-style: none ;
    padding: 0px;
    margin: 0px;
}
.acc li {
    margin-top: 5px;
}
.homePostContainer {
    margin-left: 13px;
}
.acc li a {
    cursor: pointer;
}
i.iconstilsh:hover{
    box-shadow: 0px 0px 3px 0px #0d0d0d ;
}
.loadComments {
    width: 100%;
    display: block ;
    overflow: hidden;
    display: block ;
}







.loadMore {
    padding: 5px;
    display: block ;
    cursor: pointer;
}

.fa-3x {
    font-size: 12px;
}


i.dyt {
  background-image: url(../images/hconstitutional.png);
background-size: 15.5px;
background-repeat: no-repeat;
background-position: 6px 5px;
}
.courtRecentAct {
    display: block ;
    overflow: no-display ;
    width: 100%;
    padding: 5px 10px;
    line-height: 2.4;
}
.courtIcon{
background-image: url(../img_sliders/hconstitutional.png);
padding-left: 42px;
background-repeat: no-repeat;
background-position: 17px 2px;
background-size: 18px 18px;
height: 20px;
width: 20px;
display: inline-block;
margin-top: 3px;
float: left;
}
.courtActNoy {
    width: 100%;
    display: block ;
    overflow: no-display ;
    position: relative ;
    border-bottom: 2px solid #dcdcdc;
}
.mmGovote {
    cursor: pointer;
}
.userNamesh1 {
    font-weight: bold;
color: darkblue; 
cursor: pointer;
}

.userNamesh2 {
    font-weight: bold;
cursor: pointer;
    color: darkslategray;
}
.courtRecentAct {
    font-size: 13px;
font-family: arial , sans-serif;
}

.cssload-jumping{
	position:relative;
	display:block;
	margin: 97px auto;
	width:107px;
}
	
.cssload-jumping, .cssload-jumping * {
	box-sizing: border-box;
}







.cssload-jumping {
    position: relative;
    display: block;
    margin: 24px auto 22px auto;
    width: 107px;
}
.ratReviews {
    width: 98%;
    display: block ;
    background: #eee ;
}
.evaluateContainer {
    margin: 5px;
    width: 95%;
    display: block;

}
.evaluateContainer  {
    cursor: pointer;
overflow: hidden;
 display: inline-block;
line-height:6;
}
 .ratReviews {
    width: 98%;
    display: block;
    background: #eee;
    margin: 14px auto;
}