 
Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /
#for make username a folder


# Check if .php file already exists -- if so, rewrite extension to .html
    
 #RewriteRule ^([^/]+)/([^/]+)/?$ index.php?load_pages_or_username=$1&page=$2 [L,QSA] 

#--------------------------------------------------------------

#RewriteRule ^([^/]+)/([^/]+)/?$ index.php?user=$1&page=$2 [L,QSA] 
#RewriteRule ^([^/]+)/?$ index.php?user=$1 [L,QSA]
 
#remove exensions
 RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]