/* 
    Document   : music
    Created on : Jun 22, 2016, 4:18:55 PM
    Author     : Montasser
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'AUdimat-Bold';
    src: url(../fonts/AUdimat-Bold.otf);
}
.music-container {
    width: 100%;
    display: block ;
    overflow: hidden ;
    min-height: 550px;
    position: relative;
    
   max-height: 1500px;

}
.music-container-mask {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255,255,255,.7);
    position: absolute;
}
.play-song {
    display: inline-block ;
    position: absolute ;
    left: 0px;
    right: 0px;
     
    bottom: 0px;
    height: 40px;
    overflow: hidden ;
}

.play-pause {
    width: 60px;
    height: 40px;
    background: transparent;
    float: left;
    overflow: hidden;
    position: relative;
}
.play-song {
    font-size: 35px;  
    margin: 0px auto;
     overflow: hidden;
  border-top: 1px solid #dfdfdf;
  height: 50px;
  padding-top: 5px;
}
.play-track {
    width: 70%;
    float: left;
    height: 40px;
      overflow: hidden;
      position: relative;
}
.play-volume {
     width: 23%;
    float: left;
    height: 40px;
      overflow: hidden;
      position: relative;
}
.pl {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    display: block;
    margin-top: 10%;
    cursor: pointer ;
    color: #222;
}
.mm-track {
    height: 15px;
    background: #999;
    width: 100%;
    display: block;
    margin-top: 1.8%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    
}
.mm-fill-track {
    width: 20%;
    height: 100%;
    background: #000;
}
.track-num {
    width: 30px;
    height: 30px;
    background: red;
    float: right;
}
.track-voumes {
    width: 100%;
    display: block;
     height: auto;  
    background: transparent;
    width: 80%;
    display: block;
    margin-top: 0%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin-left: 10px;
    float: left;
    background-size: 30px 30px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px -1px ;
    background-image: url(../images/volume.png);
    padding-bottom: 15px;
    margin-top:8px;
}
.vol {
    width: 100%;
    height: 5px;
    background: #999;
    display: block;
margin-top: 10px;
}
.music-info-contaienr , .headline-music {
    position: relative ;
    overflow: hidden ; 
    width: 100%;
    display: block;
}
.music-name {
    padding: 5px 20px;
    margin: 0px;
    display: block ;
    font-family: 'AUdimat-Bold';
}
.artist-name {
    display: block ;
    overflow:  hidden ;
    width: 100%;
    text-align: left;
}
.name-artist {
    float: left ;
    display: inline-block ;
    font-family: arial , sans-serif ;
    font-size: 18px;
}
.song-vot {
     float: left ;
    display: inline-block ;
    font-family: arial , sans-serif ;
    font-size: 18px;
    padding-left: 20px;
}
.mu-container {
    width: 100%;
    display: inline-block;
    overflow: hidden ;
    
 }
 .rat-song {
     padding-left: 20px;
 }